html {
  font-size: 14px;
}

@media screen and (max-width: 667px) {
    body {
        overflow-x: hidden !important;
    }

    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    html {
        font-size: 16px;
    }
}

/*@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}*/

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    overflow-x: hidden !important;
}

.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

/*body {
  margin-bottom: 60px;
}*/

